@use "../../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.round {
  @extend .rounded !optional;
}

.cards {
  @extend .text-bg-white !optional;
  @extend .rounded !optional;
  @extend .row !optional;
  @extend .mb-3 !optional;
  @extend .border !optional;
  @extend .border-dark !optional;
}

.button {
  @extend .btn !optional;
  @extend .btn-primary !optional;
  @extend .btn-block !optional;
}

.please-email {
  @extend .text-center !optional;
  @extend .rounded !optional;
}

.edit-button {
  @extend .btn !optional;
  @extend .btn-primary !optional;
  @extend .border !optional;
  @extend .border-dark !optional;
}

.all-routes {
  @extend .bg-secondary !optional;
}

.wrapper {
  @extend .container !optional;
  @extend .d-flex !optional;
  @extend .flex-column !optional;
}

.body-wrapper {
  @extend .m-md-3 !optional;
  @extend .p-md-1 !optional;
  @extend .d-flex !optional;
  @extend .flex-column !optional;
  @extend .text-dark !optional;
}

.footer-button {
  @extend .col-1 !optional;
  @extend .btn !optional;
}

.wrapper-pni {
  @extend .container-fluid !optional;
}

.header1 {
  @extend .m-3 !optional;
  @extend .p-3 !optional;
  @extend .text-center !optional;
}

.browser-router {
  @extend .d-flex !optional;
  @extend .flex-column !optional;
}

.route-divs {
  @extend .m-0 !optional;
}

.footer-route {
  @extend .m-3 !optional;
}

.body {
  @extend .text-bg-light !optional;
  @extend .m-3 !optional;
  @extend .flex-row !optional;
  @extend .rounded !optional;
}

.h1-wrap {
  @extend .m-md-0 !optional;
  @extend .m-lg-2 !optional;
  @extend .text-center !optional;
  @extend .rounded !optional;
  @extend .row !optional;
  @extend .bg-secondary !optional;
}

.h1 {
  @extend .p-md-3 !optional;
  @extend .font-weight-bold !optional;
  @extend .text-md-start !optional;
}

.home-p {
  @extend .m-3 !optional;
  @extend .col !optional;
  @extend .col-lg-8 !optional;
  @extend .col-md-11 !optional;
  @extend .text-dark !optional;
}

.cards-wrap {
  @extend .m-4 !optional;
  @extend .rounded !optional;
  @extend .col !optional;
  @extend .text-center !optional;
}

.footer {
  @extend .text-bg-secondary !optional;
  @extend .text-center !optional;
}

.container {
  @extend .container-fluid !optional;
}

.section {
  @extend .mb-4 !optional;
  @extend .row !optional;
  @extend .justify-content-center !optional;
}

.info {
  @extend .col-8 !optional;
  @extend .fw-bold !optional;
}

.link-light {
  @extend .link-light !optional;
}

.group {
  @extend .btn-group !optional;
}

.nav {
  @extend .navbar !optional;
  @extend .text-bg-light !optional;
  @extend .container-fluid !optional;
  @extend .mt-0 !optional;
  @extend .pt-0 !optional;
}

.brand {
  @extend .navbar-brand !optional;
}

.logo {
  @extend .w-100 !optional;
}

.toggle {
  @extend .navbar-toggler !optional;
  @extend .m-3 !optional;
}

.toggle-icon {
  @extend .navbar-toggler-icon !optional;
}

.navbar-supported-content {
  @extend .collapse !optional;
  @extend .navbar-collapse !optional;
  @extend .navbar-expand-md !optional;
}

.list {
  @extend .navbar-nav !optional;
  @extend .me-auto !optional;
  @extend .mb-2 !optional;
  @extend .mb-lg-0 !optional;
}

.list-container {
  @extend .container-fluid !optional;
  @extend .d-flex !optional;
  @extend .flex-column !optional;
  @extend .flex-md-row !optional;
  @extend .justify-content-start !optional;
}

.listItem {
  @extend .nav-item !optional;
  @extend .mx-2 !optional;
}

.link-active {
  @extend .nav-link !optional;
  @extend .active !optional;
}

.dropdown {
  @extend .nav-item !optional;
  @extend .mx-2 !optional;
  @extend .dropdown !optional;
}

.dropdown-toggle {
  @extend .nav-link !optional;
  @extend .dropdown-toggle !optional;
}

.dropdown-menu {
  @extend .dropdown-menu !optional;
}

.dropdown-item {
  @extend .dropdown-item !optional;
}

.buttons {
  @extend .ml-auto !optional;
  @extend .mx-2 !optional;
}

.nav-button {
  @extend .btn !optional;
  @extend .btn-primary !optional;
}
